* {
    box-sizing: border-box;
}

@font-face {

    font-family: 'Script';
  
    src: url('./fonts/tangerine_regular-webfont.woff2') format('woff2'),
  
      url('./fonts/tangerine_regular-webfont.woff') format('woff');
  
    font-weight: 600;
  
    font-style: normal;
  
  }

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

    --color-theme-positive: #059669;
    --color-theme-mixed: #f59e0b;
    --color-theme-negative: #ef4444;
}

:root .theme-light {
    --color-theme-main: #fafaf9;
    --color-theme-main-bg: #fef3c7;
    --color-theme-main-shadow: #a3a3a3;

    --color-theme-main-text: #09090b;
    --color-theme-main-text-alt: #0c0a09;

    --color-theme-user: #34d399;
}

:root .theme-dark {
    --color-theme-main: #0c0a09;
    --color-theme-main-bg: #09090b;
    --color-theme-main-shadow: #6b7280;

    --color-theme-main-text: #fafaf9;
    --color-theme-main-text-alt: #e5e7eb;

    --color-theme-user: #059669;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    color: inherit;
}

button {
    appearance: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6 {
    font-size: 1rem;
}

h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.7rem;
}

h1 {
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, textarea {
    appearance: none;
    background-color: inherit;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--color-theme-main-shadow);
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%
}

#page {
    min-height: 100%;
    display: flex;
}

@media (max-width: 700px) {
    #page {
        flex-direction: column;
    }
}

#nav {
    min-width: clamp(30ch, 20%, 60ch);
    background: var(--color-theme-user);

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

#content {

    flex-grow: 1;
    background: var(--color-theme-main-bg);

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

#content > div {

    display: grid;
    grid-template-rows: 3rem 3rem 1fr;
}


.todo {

    background-color: var(--color-theme-main);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;

    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem 1.5rem;
    grid-template-rows: 1.5rem;
    column-gap: 0.5rem;
    row-gap: 1rem;

}

.todo input[type='checkbox'] {

    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    border: 0.2rem outset var(--color-theme-main-text-alt);
    border-radius: 50%;
    padding: 0.1rem;

    transition: all 0.1s linear;
}

.todo input[type='checkbox']:checked {

    background-color: var(--color-theme-user);
    border: 0.5rem outset var(--color-theme-main-text-alt);

}

.todo .mini {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.todo .description {

    grid-column: 2 / 3;
    
}

.project-li {
    height: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 5ch 1.5rem;
    gap: 0.5rem;
}

.project-li .title {
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.project-li button.delete {

    width: 1.5rem;
    
}